.container{
    height: auto;
    width: 700px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 5px solid black;
    justify-items: center;
    align-items: center;
}
img{
    height: 5em;
    margin: 5px;
    width: 5em;
}
.outer-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inner-cont{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.error{
    color: red;
    font-size: small;
    margin: -2px;
}
.error-cont{
    height: 20px;
    width: auto;
}